/* Page wrapper */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  background-color: black;
}

/* Navigation with hover state*/
.main-nav {
  min-height: 8vh;
  border-bottom: 1px solid black;
  
  background-color: black;
  /* Keep nav in viewport. 
  Not a huge fan tbh. The opacity declaration also seems to override the opacity of my nav options as well, making them look too dim/dull. 
  What do you think Tony?*/
  /* position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  opacity: .6; */

  display: flex;
  justify-content: space-between;
}

.main-nav:hover {
  border-bottom: 1px solid white;
}

/* Company name and logo */
.logo {
  display: flex;
  /* Align company logo and name */
  align-items: center;
}

.logo * {
  margin: 20px;
  font-size: 3rem;
}

.logo .company {
  display: none;
}
/* Hamburger Menu */

.main-nav .btn {
  margin: 20px;
  
  font-size: 3rem;
  
  color: white;
}

.main-nav .btn:hover {
  cursor: pointer; 
}

.main-nav .btn:active {
  position: relative;
  top: 4px;
}
.main-nav ul li {
  list-style: none;
  text-align: center;

  border: 1px solid white;
}

/* Other nav links */
.main-nav ul {
  display: none;
}

.main-nav ul a {
  display: block;
}

.visible {
  display: block;
}


.main-nav a {
  /* Remove underline */
  text-decoration: none;
  
  color: white;
  opacity: .9;
  
  transition-property: opacity;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0)
}

.main-nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

.main-nav .current {
  /* Underline current nav link */
  text-decoration: underline;
}

/* Register Link with hover state*/
.main-nav .register-link {
  color: black;
  background-color: white;
  
  padding: 2px;
  border-radius: 4px;
}

.main-nav .register-link:hover {
  color: white;
  background-color: black;
}


/* Forms */

/* All fieldsets*/
fieldset {
  display: grid;
}

.required {
  color: red;
}



/* Footer with hover states*/
.page-footer {
  display: flex;
  justify-content: center;
  
  color: white;
  
  border-top: 1px solid black;
}

.page-footer:hover {
  border-top: 1px solid white;
}

.page-footer *:hover {
  cursor: pointer;
}


/* Media query */
@media (orientation: landscape) {
  .main-nav {
    justify-content: flex-start;
  }
  
  .main-nav ul {
    list-style-type: none;
    
    display: flex;
    /* Spacing between li elements */
    gap: 1rem;
    /* Move to the right */
    margin-left: auto;
    /* Move away from right page boundary */
    margin-right: .5rem;
  }

  .main-nav ul li {
    border: none;
  }

  .main-nav .btn {
    display: none;
  }

  .logo .company {
    display: inline;
  }

  .logo * {
    margin: 1rem .5rem;
    font-size: 1.5rem;
  }
}