/* Page wrapper */
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  background-color: black;
}

/* Navigation with hover state*/
.main-nav {
  min-height: 8vh;
  border-bottom: 1px solid black;
  
  /* Keep nav in viewport. 
  Not a huge fan tbh. The opacity declaration also seems to override the opacity of my nav options as well, making them look too dim/dull. 
  What do you think Tony?*/
  /* position: -webkit-sticky;
  position: sticky;
  top: 0vh;
  opacity: .6; */

  display: flex;
}

.main-nav:hover {
  border-bottom: 1px solid white;
}

nav li:nth-child(1) {
  display: none;
}

/* Company name and logo */
.logo {
  display: flex;
  /* Align company logo and name */
  align-items: center;
}

.logo * {
  margin: 1rem .5rem;
}

/* Other nav links */
.main-nav ul {
  list-style-type: none;
  
  display: flex;
  gap: 1rem;
  /* Move to the right */
  margin-left: auto;
  /* Move away from right page boundary */
  margin-right: .5rem;
}

.main-nav a {
  /* Remove underline */
  text-decoration: none;
  
  color: white;
  opacity: .9;
  
  transition-property: opacity;
  transition-duration: .25s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0)
}

.main-nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

.main-nav .current {
  /* Underline current nav link */
  text-decoration: underline;
}

/* Register Link with hover state*/
.main-nav .register-link {
  color: black;
  background-color: white;
  
  padding: 2px;
  border-radius: 4px;
}

.main-nav .register-link:hover {
  color: white;
  background-color: black;
}


/* Forms */

/* All fieldsets*/
fieldset {
  display: grid;
}

.required {
  color: red;
}



/* Footer with hover states*/
.page-footer {
  display: flex;
  justify-content: center;
  
  color: white;
  
  border-top: 1px solid black;
}

.page-footer:hover {
  border-top: 1px solid white;
}

.page-footer *:hover {
  cursor: pointer;
}

/* Hamburger Menu */
.main-nav .btn {
  display: none;
}

.main-nav .exit {
  display: none;
}

/* Media query */
@media (orientation: portrait) { 
  .main-nav ul {
  display: none;
}
  
  .page-wrapper .visible {
    display: block;  
  }
  
    
  .main-nav .brand {
    display: none;
  }
  
  .main-nav {
    display: block;
  }
  
  .main-nav .btn {
    color: white;
    /* Inline-block so the contents don't span the full viewport width */
    display: inline-block;
    
    font-size: 3rem;
    margin: 1rem;
  }
  
   .page-wrapper .hide {
    display: none;
  }
  
  .main-nav .btn:hover {
    cursor: pointer;
  }
  
  .main-nav .btn:active {
    position: relative;
    top: 4px;
  }
  
  .main-nav .exit {
    color: white;
    
    font-size: 3rem;
    margin: 1rem;
  }
  
  .main-nav .exit:hover {
    cursor: pointer;
  }
  
  .main-nav .exit:active {
    position: relative;
    top: 4px;
  }
  
  .main-nav ul {
    margin: auto;
    padding-left: 0;
  }
  
  .main-nav ul li {
   border: 1px solid black;
    
   margin: auto;
   text-align: center;
  }
  
  .main-nav a {
    /* Switch from block to inline-block in order to center contents */
    display: inline-block;
    padding: 1em;
    color: white;
    
    text-align: center;
  }
  
  /* Some home page Responsiveness */
  .hero * {
    margin: 7.5vh;

    text-align: center;
  }
  
  .hero h1 {
    font-size: 10vh; 
  }
  
  .hero p {
    font-size: 4.2vh;
  }
  
  .hero .page-button {
    font-size: 5vh;
    border-radius: 2vh;
  }
  
  #page-text * {
    margin: auto;
    
    line-height: 3rem;
    font-size: 4vh;
  }
  
  #page-text p {
    font-size: 3vh;
  }
}
